body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('sun2.webp') no-repeat center center fixed; /* Background image */
    background-size: cover; /* Cover the entire background */
    color: #302b6e;
    text-align: center;
}

/* UV Alert Section */
.alert-container {
    position: relative;
    top: 50px; /* Moves the box down */    
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    background: #d4f5f3ba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.alert-container h2 {
    color: hsl(0, 47%, 36%);
}

.uv-index {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

/* Alert Message Styles */
.alert-message {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

/* UV Risk Levels */
.low {
    background-color: #5aab50;
    color: white;
}

.moderate {
    background-color: #efad74da;
    color: rgb(25, 35, 13);
}

.high {
    background-color: #9fb7ae;
    color: white;
}


/* @media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .alert-container {
        width: 90%;
    }
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
